@import "../../styles/mixins/global.scss";
@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/mixins/color.scss";
@import "../../styles/mixins/typography.scss";

.faq-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}
.faq-page-alignment {
  padding-top: 0px;
  .faq-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    // background-color: $background;
    background-image: url("../../Assets/Images/faq.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    position: relative;
    height: 250px;
    @include breakpoint("max-sm") {
      height: auto;
      background-position: inherit;
      padding: 60px 0;
      background-size: cover;
    }
    .page-title {
      position: relative;
      h1 {
        @include heading-1;
        margin: 0 0 1.85rem 0;
        color: $white;
        text-align: center;
        font-family: "Gotham-Light_1";
      }

      div {
        display: flex;
        justify-content: center;
      }

      p {
        @include text-md;
        line-height: 28px;
        color: $white;
        font-family: "Gotham-Light_1";
        font-weight: 500;
        text-align: center;

        @include breakpoint("max-sm") {
          @include text-sm;
          line-height: 22px;
        }
      }
    }
  }
}

.faq-top-bar {
  background-color: #cacaca;
  height: 80px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;

  @include breakpoint("max-sm") {
    display: none;
  }

  .faq-list {
    nav {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0 0 0 0;

        li:last-child {
          padding-right: 0px;
          border: none;
        }

        li {
          @include text-md;
          cursor: pointer;
          color: $black-4;
          font-family: "Gotham-Light_1";
          position: relative;
          padding: 0 40px;
          border-right: 1px solid $red;
        }
      }
    }
  }
}

.faq-list ul li::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -27px;
  left: 0;
  background-color: $red;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
}

.activeTab::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -27px;
  left: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  background-color: $red;
}

.activeTab1::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -22px;
  left: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  background-color: $red;
}

// .faq-list ul li:hover::after {
//     transform: scaleX(1);
//     opacity: 1;
// }

.faq-list-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 35px;
  gap: 0 20px;
  align-content: center;

  .faq-list-grid-items {
    h2 {
      @include heading-4;
      font-family: "Gotham-Light_1";
      color: $black-4;
      margin: 0;
      font-weight: 600;

      @include breakpoint("max-sm") {
        @include text-md;
      }
    }

    .icon-design {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $light-gray-border;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        @include text-md;
        font-weight: 600;
        position: relative;
        left: 1px;
        top: -1px;
        color: $light-gray-border;
        font-size: 25px;
        display: block;
      }
    }
  }
}

.text-hidden {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.text-show {
  max-height: calc(100vh - 450px);
  transition: 0.3s ease-in-out;
}

.faq-text-style {
  p {
    @include text;
    line-height: 28px;
    color: $gray-3;
    font-family: "Gotham-Light_1";

    @include breakpoint("max-sm") {
      @include text-sm;
      line-height: 20px;
    }
  }
}

.faq-border-bottom {
  padding: 20px 0;
}

.cus-border-bottom {
  //  border-bottom: 1px solid $light-gray-border;
  padding-bottom: 20px;
}

.faq-border-bottom1 {
  border-bottom: 1px solid $light-gray-border;
}

.no-faq-data {
  text-align: center;
}

.faq-border-bottom1:last-child {
  // border: none;
  // padding-bottom: 0px;
  border-bottom: 1px solid $light-gray-border;
}

.near-by-properties {
  padding: 60px 0 120px 0;

  @include breakpoint("max-sm") {
    padding: 60px 0;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 40px;
    justify-content: space-between;

    @include breakpoint("max-md") {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include breakpoint("max-md") {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    .card-grid-items {
      border: 1px solid $light-gray-border;
      cursor: pointer;

      .button-style {
        margin: 1rem 0 0 0;

        button {
          @include medium-button;
          width: 100%;
          height: 50px;
          border-radius: 0px;
        }
      }

      .card-details {
        padding: 1.25rem;

        .department-alignment {
          padding-bottom: 30px;
          display: flex;
          align-items: center;

          .col-direction {
            padding-right: 40px;
          }

          div {
            .icon-text-alignment {
              display: flex;
              align-items: center;
            }

            p {
              @include text-bold;
              font-weight: 500;
              font-family: "Gotham-Light_1";
              margin: 0 0 8px 0;
              color: $black-4;
            }

            span {
              display: block;
              @include text-sm;
              font-weight: 500;
              color: $gray-3;
              padding-left: 8px;
              font-family: "Gotham-Light_1";
            }
          }
        }

        .child-grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          // gap: 0 20px;
          justify-content: space-between;

          @include breakpoint("max-md") {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
          }

          .child-grid-items:last-child {
            border: none;
          }

          .child-grid-items {
            border-right: 1px solid $light-gray-border;
            padding: 0 2px;

            h5 {
              @include text-bold;
              font-weight: 600;
              font-size: 10px;
              color: $black-3;
              text-align: center;
              font-family: "Gotham-Light_1";
              margin: 0 0 0px 0;

              @include breakpoint("max-md") {
                text-align: left;
                font-size: 16px;
              }
            }

            span {
              text-align: center;
              display: block;
              @include text-sm;
              color: $gray-3;
              font-family: "Gotham-Light_1";
              font-size: 8px;

              @include breakpoint("max-md") {
                text-align: left;
                font-size: 12px;
              }
            }
          }
        }

        h2 {
          @include heading-4;
          font-family: "Gotham-Light_1";
          margin: 1rem 0 1.85rem 0;
          color: $black-4;
          overflow: hidden;
          font-size: 15px;
          height: 25px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .location-text-alignment {
          display: flex;
          align-items: center;

          div {
            display: flex;
            align-items: center;

            i {
              color: $red;
              font-size: 18px;
            }

            span {
              display: block;
              padding-left: 1rem;
              @include text-bold;
              font-family: "Gotham-Light_1";
              color: $gray-3;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
          }
        }
      }

      .card-images {
        img {
          width: 100%;
          height: 210px;
          object-fit: cover;
        }
      }
    }
  }
}

.near-by-title {
  padding-bottom: 60px;

  h2 {
    margin: 0;
    @include heading-3;
    color: $black-4;
    font-family: "Gotham-Light_1";
    font-weight: bold;
  }
}

.sticky-section {
  position: sticky;
  top: 90px;
}

.faq-section-bottom-alignment {
  padding: 0 0 70px 0;
}

.faqSectionAlignmentDesign {
  color: #777 !important;
  font-weight: 500 !important;
  padding-left: 20px !important;
  color: #323232 !important;
}

.answer-text-design {
  font-size: 12px !important;
  font-weight: 400 !important;
  padding-left: 20px !important;
}