$light-gray: #F3F4F5;
$light-gray-border: #D0D0D0;
$gray-2: #F1F1F1;
$gray: #DBDBDB;
$dark-gray: #7a7a7a;
$dark-gray-2: #949494;
$black: #191C1F;
$black-2: #222222;
$white: #fff;
$blue: #2D6FA1;
$blue-2: #1678C0;
$blue-3: #126DB0;
$light-blue: #EAF6FF;
$light-orange: #FBE5CD;
$orange: #EC7F07;
$black-3: #323232;
$black-4: #050505;
$background: #F5F5F5;
$green:#56A26B;
$gray-3:#6C6C6C;
$light-black:rgba(50, 50, 50, 0.7);
$border-color:#4E4E4E;
$white-blur:rgba(255, 255, 255, 0.2);
$red:#e83b3b;
$dark-background:#c3c3c3;