@font-face {
    font-family: "Gotham-Light_1";
    src: url("../../Assets/Font/Gotham-Light_1.otf");
}


@font-face {
    font-family: "MYRIADPRO-REGULAR";
    src: url("../../Assets/Font/MYRIADPRO-REGULAR.OTF");
}

@font-face {
    font-family: "Prata-Regular";
    src: url("../../Assets/Font/Prata-Regular.ttf");
}

// button font//

@font-face {
    font-family: "Gotham-Light_1";
    src: url("../../Assets/Font/Gotham-Light_1.otf");
}

// header font//

@font-face {
    font-family: "Gotham-Light_1";
    src: url("../../Assets/Font/Gotham-Light_1.otf");
}



