// @use './mixins/breakpoint.scss';
// @use './mixins/typography.scss';
// @use './mixins/columns.scss';
// @use './function/columns.scss';
// @use './layout/container.scss';
// @use './mixins/index.scss';


@import '../function/columns.scss';
@import '../layout/container.scss';
@import '../mixins/columns.scss';
@import '../mixins/breakpoint.scss';
@import '../mixins/index.scss';
@import '../mixins/typography.scss';
@import '../mixins/color.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";


@mixin medium-button {
    padding: 8px 15px;
    background-color: $red;
    color: $white;
    border-radius: 4px;
    @include text;
    font-weight: 400;
    border: none;
    transition: .3s ease-in-out;
    font-family: "Gotham-Light_1";
    cursor: pointer;

}


.form-control {
    label {
        @include text-md;
        font-weight: 500;
        display: block;
        padding-bottom: 8px;
        color: $gray-3;
        font-family: "Gotham-Light_1";
    }
    input {
        width: -webkit-fill-available;
        height: 50px;
        border: 1px solid $light-gray-border;
        border-radius: 4px;
        padding: 0 20px;
        @include text-md;
        font-family: "Gotham-Light_1";
        color: $black-3;
        font-weight: 500;
        transition: .3s ease-in-out;
        &:focus {
            outline: none;
            border: 1px solid $blue-2;
        }
    }
    textarea {
        width: -webkit-fill-available;
        height: 180px;
        border: 1px solid $light-gray-border;
        border-radius: 4px;
        padding:20px;
        @include text-md;
        color: $black-3;
        font-family: "Gotham-Light_1";
        font-weight: 500;
        transition: .3s ease-in-out;
        &:focus {
            outline: none;
            border: 1px solid $blue-2;
        }
    }
    span {
        color: $red !important;
    }
    ::placeholder {
        @include text-md;
        font-family: "Gotham-Light_1";
        color: $gray-3;
        font-weight: 500;
    }
}

a {
    text-decoration: none;
}

.awssld__container {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 51% !important;
}


.help-text-style {
    a {
        color: $red;
    }
}


.cookie-cus-box {
    width: 634px;
    background-color: #417658;
    padding: 12px 32px;
    box-shadow: 0 20px 25px -5px #0000001a, 0 10px 10px -5px #0000000a;
    border-radius: 19px;
    @include breakpoint("max-md") {
        width: 100%;
    }
    @include breakpoint("max-sm") {
        width: 100%;
    }
    p {
        font-size: 14px;
        color: #fff;
        margin: 0;
        text-align: center;
    }
    span {
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
    }
}

.cookie-cus-center-align {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint("max-md") {
        width: 100%;
    }
    @include breakpoint("max-sm") {
        width: 100%;
    }
    @include breakpoint("max-md") {
        left: 0;
        transform: translateX(0);
    }
    @include breakpoint("max-sm") {
        left: 0;
        transform: translateX(0);
    }
}


.awssld__content {
    display: inherit !important;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.form-control {
    border: none !important;
    padding: 0 !important;
    line-height: auto !important;
}

.booking-video {
    video {
        width: 100%;
        height: 500px !important;
        object-fit: cover !important;
    }
}

.errors{
    color: $red;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

